In [1]:
import pandas as pd

Importing and Reading the data

In [7]:
data=pd.read_csv("../data/train.csv")

In [8]:
data.head(5)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

The goal of this dataset is to predict the price of a given diamond. Basically, it is Regression problem.

There are 10 independent variables in the data:
1) id: It is a unique identifier of each diamond.
2) carat: It refers to unique unit of the weight measurement which is used to measure or weigh gemstones or diamonds.
3) cut: It is the quality of the diamond cut.
4) color: It describes the color of the diamond.
5) clarity: Clarity measures the purity and rarity of the diamond. It is graded by the visibility of these characteristics under 10 power magnification.
6) Depth: It represents the height of the diamond.
7) Table: A diamond's table is the facet which can be seen when the diamond is viewed face up

x: Diamond X dimension 
y: Diamond Y dimension 
z: Diamond Z dimension 

Target Variable: 
price: Price of a specific diamond

In [9]:
data.sample(15)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
118675,118675,1.02,Ideal,D,SI1,62.7,55.0,6.36,6.38,4.00,5385
141969,141969,0.30,Ideal,F,VVS1,61.4,55.0,4.31,4.36,2.66,1040
162937,162937,1.00,Very Good,G,SI1,62.8,58.0,6.34,6.37,3.99,5199
58268,58268,0.54,Ideal,E,VS2,61.1,56.0,5.25,5.28,3.22,1741
54033,54033,1.02,Ideal,D,SI2,61.7,56.0,6.48,6.45,3.99,4771
46737,46737,0.30,Very Good,G,VVS2,62.2,56.0,4.27,4.31,2.67,685
59994,59994,0.31,Ideal,F,SI2,61.8,57.0,4.34,4.37,2.69,421
65717,65717,1.50,Good,G,SI1,58.5,61.0,7.40,7.46,4.37,10728
129024,129024,0.52,Ideal,G,VS2,62.0,55.0,5.15,5.18,3.20,1588
20094,20094,1.16,Ideal,H,VS1,62.1,54.0,6.70,6.74,4.18,7197
75258,75258,0.31,Very Good,H,VS1,62.9,54.0,4.35,4.34,2.73,541
124613,124613,1.34,Ideal,G,SI2,61.2,57.0,7.10,7.14,4.34,6381
87289,87289,1.00,Premium,E,SI2,61.8,60.0,6.32,6.31,3.91,4620
123201,123201,0.39,Good,D,SI1,64.1,55.0,4.63,4.67,2.96,589
185684,185684,0.31,Ideal,F,VVS1,61.8,56.0,4.38,4.41,2.71,886

In [10]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [11]:
data.shape

(193573, 11)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [13]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [15]:
data.drop(labels=['id'],axis=1,inplace=True)

In [16]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [17]:
data.duplicated().sum()

0

Seggregating data into categorical and numerical data

In [21]:
categorical_columns=data.columns[data.dtypes=='object']
categorical_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [22]:
numerical_columns=data.columns[data.dtypes!='object']
numerical_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [23]:
data[numerical_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB

In [24]:
data[categorical_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB

In [25]:
data[numerical_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
carat,193573.0,0.790688,0.462688,0.2,0.40,0.70,1.03,3.50
depth,193573.0,61.820574,1.081704,52.1,61.30,61.90,62.40,71.60
table,193573.0,57.227675,1.918844,49.0,56.00,57.00,58.00,79.00
x,193573.0,5.715312,1.109422,0.0,4.70,5.70,6.51,9.65
y,193573.0,5.720094,1.102333,0.0,4.71,5.72,6.51,10.01
z,193573.0,3.534246,0.688922,0.0,2.90,3.53,4.03,31.30
price,193573.0,3969.155414,4034.374138,326.0,951.00,2401.00,5408.00,18818.00

In [28]:
for col in categorical_columns:
    print(data[col].value_counts())
    print(f"This is the total count: {len(data[col].value_counts())}")
    print("===============")

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64
This is the total count: 5
===============
color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64
This is the total count: 7
===============
clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64
This is the total count: 8
===============